# BDDA PROJECT 2

# Snigdha Mathur (015050)

## Question 2: Given personal details of the person, predict the medical cost and use any regression algorithm for calculating the RMSE value

### We have used Logistic Rgression for calculating the RMSE (Root Mean Square Error) value and R square value

Starting a new SparkSession

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Proj1').getOrCreate()

Reading the csv dataset

In [3]:
df=spark.read.csv('insurance.csv',header=True,inferSchema=True)

Displaying the values of the dataset

In [4]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [5]:
df.count()

1338

In [7]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

Understanding the variable 'bmi'

In [8]:
df['bmi']

Column<b'bmi'>

In [9]:
type(df['bmi']) ##rdd helps in converting data in form of rows and coulmns

pyspark.sql.column.Column

In [10]:
df.select('bmi').show()

+------+
|   bmi|
+------+
|  27.9|
| 33.77|
|  33.0|
|22.705|
| 28.88|
| 25.74|
| 33.44|
| 27.74|
| 29.83|
| 25.84|
| 26.22|
| 26.29|
|  34.4|
| 39.82|
| 42.13|
|  24.6|
| 30.78|
|23.845|
|  40.3|
|  35.3|
+------+
only showing top 20 rows

In [12]:
df.select(['sex','bmi','charges']).show()

+------+------+-----------+
|   sex|   bmi|    charges|
+------+------+-----------+
|female|  27.9|  16884.924|
|  male| 33.77|  1725.5523|
|  male|  33.0|   4449.462|
|  male|22.705|21984.47061|
|  male| 28.88|  3866.8552|
|female| 25.74|  3756.6216|
|female| 33.44|  8240.5896|
|female| 27.74|  7281.5056|
|  male| 29.83|  6406.4107|
|female| 25.84|28923.13692|
|  male| 26.22|  2721.3208|
|female| 26.29| 27808.7251|
|  male|  34.4|   1826.843|
|female| 39.82| 11090.7178|
|  male| 42.13| 39611.7577|
|  male|  24.6|   1837.237|
|female| 30.78| 10797.3362|
|  male|23.845| 2395.17155|
|  male|  40.3|  10602.385|
|  male|  35.3|  36837.467|
+------+------+-----------+
only showing top 20 rows

Checking for bmi values lesser than 18.5 is considered as under-weight

In [13]:
 os =df.filter("bmi<18.5").show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 23|  male|17.385|       1|    no|northwest| 2775.19215|
| 32|female|17.765|       2|   yes|northwest| 32734.1863|
| 18|  male| 15.96|       0|    no|northeast|  1694.7964|
| 51|female| 18.05|       0|    no|northwest|  9644.2525|
| 19|female|  17.8|       0|    no|southwest|   1727.785|
| 18|  male| 17.29|       2|   yes|northeast| 12829.4551|
| 27|female|17.955|       2|   yes|northeast|15006.57945|
| 19|  male| 17.48|       0|    no|northwest|  1621.3402|
| 26|female|17.195|       2|   yes|northeast|14455.64405|
| 21|female|16.815|       1|    no|northeast| 3167.45585|
| 21|female|  17.4|       1|    no|southwest|   2585.269|
| 26|  male| 17.67|       0|    no|northwest|  2680.9493|
| 57|  male|18.335|       0|    no|northeast|11534.87265|
| 37|female| 17.29|       2|    no|northeast|  6877.9801|
| 60|female|18.335|       0|    no|northeast|13204.28565|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 52|female|18.335|       0|    no|northwest| 9991.03765|
| 35|  male| 17.86|       1|    no|northwest|  5116.5004|
| 38|  male|16.815|       2|    no|northeast| 6640.54485|
| 28|female| 17.29|       0|    no|northeast|  3732.6251|
+---+------+------+--------+------+---------+-----------+

We find that 20 people are overweight

Finding out the region of underweight males

In [14]:
df.filter((df['bmi']<18.5)&(df['sex']>'female')).show()

+---+----+------+--------+------+---------+-----------+
|age| sex|   bmi|children|smoker|   region|    charges|
+---+----+------+--------+------+---------+-----------+
| 23|male|17.385|       1|    no|northwest| 2775.19215|
| 18|male| 15.96|       0|    no|northeast|  1694.7964|
| 18|male| 17.29|       2|   yes|northeast| 12829.4551|
| 19|male| 17.48|       0|    no|northwest|  1621.3402|
| 26|male| 17.67|       0|    no|northwest|  2680.9493|
| 57|male|18.335|       0|    no|northeast|11534.87265|
| 35|male| 17.86|       1|    no|northwest|  5116.5004|
| 38|male|16.815|       2|    no|northeast| 6640.54485|
+---+----+------+--------+------+---------+-----------+

males who are underweight are from  north region

Checking the number of people who are younger than 30 years and are underweight

In [15]:
df.filter((df['bmi']<18.5)&(df['age']>30)).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 32|female|17.765|       2|   yes|northwest| 32734.1863|
| 51|female| 18.05|       0|    no|northwest|  9644.2525|
| 57|  male|18.335|       0|    no|northeast|11534.87265|
| 37|female| 17.29|       2|    no|northeast|  6877.9801|
| 60|female|18.335|       0|    no|northeast|13204.28565|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 52|female|18.335|       0|    no|northwest| 9991.03765|
| 35|  male| 17.86|       1|    no|northwest|  5116.5004|
| 38|  male|16.815|       2|    no|northeast| 6640.54485|
+---+------+------+--------+------+---------+-----------+

Number of people who are underweight and are smokers

In [16]:
df.filter("bmi<18.5").select(['smoker']).show()

+------+
|smoker|
+------+
|    no|
|   yes|
|    no|
|    no|
|    no|
|   yes|
|   yes|
|    no|
|   yes|
|    no|
|    no|
|    no|
|    no|
|    no|
|    no|
|   yes|
|    no|
|    no|
|    no|
|    no|
+------+

Checking for over-weight among the dataset

In [17]:
df.filter("bmi>29").show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
| 30|female|  32.4|       1|    no|southwest|   4149.736|
| 18|  male|  34.1|       0|    no|southeast|   1137.011|
| 34|female| 31.92|       1|   yes|northeast| 37701.8768|
| 55|female|32.775|       2|    no|northwest|12268.63225|
| 31|  male|  36.3|       2|   yes|southwest|    38711.0|
| 22|  male|  35.6|       0|   yes|southwest|  35585.576|
| 28|  male|  36.4|       1|   yes|southwest|51194.55914|
| 62|female|32.965|       3|    no|northwest|15612.19335|
| 35|  male| 36.67|       1|   yes|northeast| 39774.2763|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 31|female| 36.63|       2|    no|southeast|  4949.7587|
| 37|female|  30.8|       2|    no|southeast|   6313.759|
| 38|  male| 37.05|       1|    no|northeast|  6079.6715|
| 55|  male|  37.3|       0|    no|southwest|20630.28351|
| 18|female|38.665|       2|    no|northeast| 3393.35635|
| 28|female| 34.77|       0|    no|northwest|  3556.9223|
| 36|  male|  35.2|       1|   yes|southeast|  38709.176|
| 18|female|35.625|       0|    no|northeast| 2211.13075|
| 21|female| 33.63|       2|    no|northwest|  3579.8287|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

Number of over-weight people

In [18]:
x =df.filter(df['bmi']>29).collect()

In [19]:
len(x)

778

Checking for number of over-weight with age less than 25

In [20]:
y =df.filter((df['bmi']>29)&(df['age']<25)).collect()

In [21]:
len(y)

151

Number of families without any children

In [22]:
c =df.filter((df['children']==0)).collect()

In [23]:
len(c)

574

Number of families without any children

In [24]:
c1 = df.filter((df['children']==1)).collect()

In [25]:
len(c1)

324

Number of families with more than 1 children

In [26]:
c2 = df.filter((df['children']>1)).collect()
len(c2)

440

Number of people who are overweight and have 0 children

In [31]:
a =df.filter((df['bmi']>29)& ~(df['children']==0)).collect()

In [32]:
len(a)

449

Grouping the variable region and displaying the count per region

In [35]:
df.groupBy("region").count().show()

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

Average/max/min of (age,bmi,children,charges) distributed in regions

In [36]:
df.groupBy("region").mean().show()
df.groupBy("region").max().show()
df.groupBy("region").min().show()

+---------+-----------------+------------------+------------------+------------------+
|   region|         avg(age)|          avg(bmi)|     avg(children)|      avg(charges)|
+---------+-----------------+------------------+------------------+------------------+
|northwest|39.19692307692308|29.199784615384626|1.1476923076923078|12417.575373969228|
|southeast|38.93956043956044| 33.35598901098903|1.0494505494505495|14735.411437609895|
|northeast|39.26851851851852| 29.17350308641976|1.0462962962962963|  13406.3845163858|
|southwest|39.45538461538462| 30.59661538461538|1.1415384615384616| 12346.93737729231|
+---------+-----------------+------------------+------------------+------------------+

+---------+--------+--------+-------------+------------+
|   region|max(age)|max(bmi)|max(children)|max(charges)|
+---------+--------+--------+-------------+------------+
|northwest|      64|   42.94|            5| 60021.39897|
|southeast|      64|   53.13|            5| 63770.42801|
|northeast|      64|   48.07|            5| 58571.07448|
|southwest|      64|    47.6|            5| 52590.82939|
+---------+--------+--------+-------------+------------+

+---------+--------+--------+-------------+------------+
|   region|min(age)|min(bmi)|min(children)|min(charges)|
+---------+--------+--------+-------------+------------+
|northwest|      19|  17.385|            0|   1621.3402|
|southeast|      18|    19.8|            0|   1121.8739|
|northeast|      18|   15.96|            0|   1694.7964|
|southwest|      19|    17.4|            0|    1241.565|
+---------+--------+--------+-------------+------------+

Displaying minimum and maximum BMI in the dataset

In [39]:
df.agg({"bmi":"min"}).show()

+--------+
|min(bmi)|
+--------+
|   15.96|
+--------+

In [27]:
df.agg({"bmi":"max"}).show()

+--------+
|max(bmi)|
+--------+
|   53.13|
+--------+

Displaying minimum and maximum value of charges in the dataset

In [41]:
df.agg({"charges":"min"}).show()

+------------+
|min(charges)|
+------------+
|   1121.8739|
+------------+

In [42]:
df.agg({"charges":"max"}).show()

+------------+
|max(charges)|
+------------+
| 63770.42801|
+------------+

Using orderBy to display the values in asecending or desending order

In [44]:
from pyspark.sql.functions import countDistinct, avg, stddev,max,min
from pyspark.sql.functions import format_number

In [53]:
df.orderBy(df["charges"].desc()).show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 54|female| 47.41|       0|   yes|southeast|63770.42801|
| 45|  male| 30.36|       0|   yes|southeast|62592.87309|
| 52|  male|34.485|       3|   yes|northwest|60021.39897|
| 31|female|38.095|       1|   yes|northeast|58571.07448|
| 33|female| 35.53|       0|   yes|northwest|55135.40209|
| 60|  male|  32.8|       0|   yes|southwest|52590.82939|
| 28|  male|  36.4|       1|   yes|southwest|51194.55914|
| 64|  male| 36.96|       2|   yes|southeast| 49577.6624|
| 59|  male| 41.14|       1|   yes|southeast| 48970.2476|
| 44|female| 38.06|       0|   yes|southeast|48885.13561|
| 63|female|  37.7|       0|   yes|southwest|   48824.45|
| 57|  male| 42.13|       1|   yes|southeast| 48675.5177|
| 60|  male| 40.92|       0|   yes|southeast| 48673.5588|
| 54|  male|40.565|       3|   yes|northeast|48549.17835|
| 61|female|36.385|       1|   yes|northeast|48517.56315|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 64|female|  33.8|       1|   yes|southwest|   47928.03|
| 59|female|36.765|       1|   yes|northeast|47896.79135|
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 51|  male|  42.9|       2|   yes|southeast|  47462.894|
| 61|  male|  36.3|       1|   yes|southwest|   47403.88|
| 63|female|  32.2|       2|   yes|southwest|  47305.305|
| 64|female|  31.3|       2|   yes|southwest|  47291.055|
| 52|  male|  41.8|       2|   yes|southeast|  47269.854|
| 63|  male| 35.09|       0|   yes|southeast| 47055.5321|
| 64|  male| 33.88|       0|   yes|southeast| 46889.2612|
| 62|  male|30.875|       3|   yes|northwest|46718.16325|
| 53|female| 36.86|       3|   yes|northwest| 46661.4424|
| 61|  male| 35.86|       0|   yes|southeast| 46599.1084|
| 51|female| 37.05|       3|   yes|northeast| 46255.1125|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

In [54]:
df.orderBy(df["children"].desc()).show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 31|  male|  28.5|       5|    no|northeast|   6799.458|
| 49|female|  31.9|       5|    no|southwest|  11552.904|
| 43|  male| 25.52|       5|    no|southeast|14478.33015|
| 19|female|  28.6|       5|    no|southwest|   4687.797|
| 20|female|  37.0|       5|    no|southwest|    4830.63|
| 41|  male| 29.64|       5|    no|northeast|  9222.4026|
| 39|female| 23.87|       5|    no|southeast|  8582.3023|
| 28|  male|  24.3|       5|    no|southwest|   5615.369|
| 33|  male|  42.4|       5|    no|southwest|   6666.243|
| 33|  male| 33.44|       5|    no|southeast|  6653.7886|
| 25|  male|  23.9|       5|    no|southwest|   5080.096|
| 46|  male|  25.8|       5|    no|southwest|   10096.97|
| 39|female|24.225|       5|    no|northwest| 8965.79575|
| 45|  male| 24.31|       5|    no|southeast|  9788.8659|
| 39|female| 34.32|       5|    no|southeast|  8596.8278|
| 20|  male|30.115|       5|    no|northeast| 4915.05985|
| 52|female| 46.75|       5|    no|southeast| 12592.5345|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 26|female| 29.64|       4|    no|northeast|24671.66334|
| 24|  male| 33.63|       4|    no|northeast|17128.42608|
| 25|  male|26.695|       4|    no|northwest| 4877.98105|
| 40|female|  29.3|       4|    no|southwest|15828.82173|
| 40|  male|30.875|       4|    no|northwest| 8162.71625|
| 61|female| 33.33|       4|    no|southeast|36580.28216|
| 49|female| 41.47|       4|    no|southeast| 10977.2063|
| 36|female| 29.04|       4|    no|southeast|  7243.8136|
| 37|  male|  34.1|       4|   yes|southwest|  40182.246|
| 29|female|  25.6|       4|    no|southwest|   5708.867|
| 25|  male| 33.66|       4|    no|southeast|  4504.6624|
| 21|  male|  25.7|       4|   yes|southwest|  17942.106|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

Machine Learning Model

In [59]:
df.select("*").where(df.charges.isNull()).count()

0

In [60]:
from pyspark.sql.functions import isnan, when, count, col
def get_null_value_count(data):
    data.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in data.columns]).show()

In [61]:
get_null_value_count(df)

+---+---+---+--------+------+------+-------+
|age|sex|bmi|children|smoker|region|charges|
+---+---+---+--------+------+------+-------+
|  0|  0|  0|       0|     0|     0|      0|
+---+---+---+--------+------+------+-------+

In [62]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [78]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import MinMaxScaler, StandardScaler

OneHotEncoding the categorical columns and adding ohe and index

In [79]:
cat_cols=[c[0] for c in df.dtypes if c[1]=="string"]
cat_cols

['sex', 'smoker', 'region']

In [80]:
ohe_cols=[c+"_ohe" for c in cat_cols]
ohe_cols

['sex_ohe', 'smoker_ohe', 'region_ohe']

In [81]:
cat_cols_si= [c+"_index" for c in cat_cols]
print (cat_cols_si)

['sex_index', 'smoker_index', 'region_index']

In [82]:
cat_cols_ohe= [c+"_ohe" for c in cat_cols]
print (cat_cols_ohe)

['sex_ohe', 'smoker_ohe', 'region_ohe']

Label encoding the categorical columns

In [83]:
labelencoder= StringIndexer(
                        inputCols=cat_cols,
                        outputCols=cat_cols_si  )

In [84]:
indexed = labelencoder.fit(df).transform(df) 
indexed.show()

+---+------+------+--------+------+---------+-----------+---------+------------+------------+
|age|   sex|   bmi|children|smoker|   region|    charges|sex_index|smoker_index|region_index|
+---+------+------+--------+------+---------+-----------+---------+------------+------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|      1.0|         1.0|         2.0|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|      0.0|         0.0|         0.0|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|      0.0|         0.0|         0.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|      0.0|         0.0|         1.0|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|      0.0|         0.0|         1.0|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|      1.0|         0.0|         0.0|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|      1.0|         0.0|         0.0|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|      1.0|         0.0|         1.0|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|      0.0|         0.0|         3.0|
| 60|female| 25.84|       0|    no|northwest|28923.13692|      1.0|         0.0|         1.0|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|      0.0|         0.0|         3.0|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|      1.0|         1.0|         0.0|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|      0.0|         0.0|         2.0|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|      1.0|         0.0|         0.0|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|      0.0|         1.0|         0.0|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|      0.0|         0.0|         2.0|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|      1.0|         0.0|         3.0|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|      0.0|         0.0|         3.0|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|      0.0|         0.0|         2.0|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|      0.0|         1.0|         2.0|
+---+------+------+--------+------+---------+-----------+---------+------------+------------+
only showing top 20 rows

Dropping the string and the predicted variable

In [105]:
features= indexed.drop('charges','sex', 'smoker', 'region')

In [106]:
features.show()

+---+------+--------+---------+------------+------------+
|age|   bmi|children|sex_index|smoker_index|region_index|
+---+------+--------+---------+------------+------------+
| 19|  27.9|       0|      1.0|         1.0|         2.0|
| 18| 33.77|       1|      0.0|         0.0|         0.0|
| 28|  33.0|       3|      0.0|         0.0|         0.0|
| 33|22.705|       0|      0.0|         0.0|         1.0|
| 32| 28.88|       0|      0.0|         0.0|         1.0|
| 31| 25.74|       0|      1.0|         0.0|         0.0|
| 46| 33.44|       1|      1.0|         0.0|         0.0|
| 37| 27.74|       3|      1.0|         0.0|         1.0|
| 37| 29.83|       2|      0.0|         0.0|         3.0|
| 60| 25.84|       0|      1.0|         0.0|         1.0|
| 25| 26.22|       0|      0.0|         0.0|         3.0|
| 62| 26.29|       0|      1.0|         1.0|         0.0|
| 23|  34.4|       0|      0.0|         0.0|         2.0|
| 56| 39.82|       0|      1.0|         0.0|         0.0|
| 27| 42.13|       0|      0.0|         1.0|         0.0|
| 19|  24.6|       1|      0.0|         0.0|         2.0|
| 52| 30.78|       1|      1.0|         0.0|         3.0|
| 23|23.845|       0|      0.0|         0.0|         3.0|
| 56|  40.3|       0|      0.0|         0.0|         2.0|
| 30|  35.3|       0|      0.0|         1.0|         2.0|
+---+------+--------+---------+------------+------------+
only showing top 20 rows

In [107]:
features.columns

['age', 'bmi', 'children', 'sex_index', 'smoker_index', 'region_index']

Importing VectorAssembler for assembling all features together with the predictor variable (charges)

In [108]:
from pyspark.ml.feature import VectorAssembler
#let's assemble our features together using vectorAssembler
assembler = VectorAssembler(
    inputCols=features.columns,
    outputCol="features")

In [109]:
output = assembler.transform(indexed).select('features','charges')

In [110]:
train,test = output.randomSplit([0.75, 0.25])

In [113]:
train.show()

+--------------------+-----------+
|            features|    charges|
+--------------------+-----------+
|(6,[0,1],[18.0,30...|  1131.5066|
|(6,[0,1],[18.0,33...|  1136.3994|
|(6,[0,1],[18.0,34...|   1137.011|
|(6,[0,1],[18.0,34...|  1137.4697|
|(6,[0,1],[18.0,37...|  1141.4451|
|(6,[0,1],[18.0,43...|  1149.3959|
|(6,[0,1],[18.0,53...|  1163.4627|
|(6,[0,1],[21.0,31...|16586.49771|
|(6,[0,1],[21.0,35...|  1532.4697|
|(6,[0,1],[21.0,36...|  1534.3045|
|(6,[0,1],[22.0,33...|  1674.6323|
|(6,[0,1],[23.0,26...|  1815.8759|
|(6,[0,1],[23.0,41...|  1837.2819|
|(6,[0,1],[25.0,25...|  2137.6536|
|(6,[0,1],[27.0,23...|   2483.736|
|(6,[0,1],[27.0,33...|  2498.4144|
|(6,[0,1],[28.0,38...|  2689.4954|
|(6,[0,1],[29.0,27...|  2867.1196|
|(6,[0,1],[33.0,30...|  3704.3545|
|(6,[0,1],[34.0,34...|  3935.1799|
+--------------------+-----------+
only showing top 20 rows

In [123]:
train.count()

993

In [112]:
test.count()

345

Linear regression algorithm and calculating the RMSE (Root Mean Sqaure error) value

In [114]:
from pyspark.ml.regression import LinearRegression
lin_reg = LinearRegression(featuresCol = 'features', labelCol='charges')
linear_model = lin_reg.fit(train)

RMSE and R2 value

In [115]:
trainSummary = linear_model.summary
print("RMSE: %f" % trainSummary.rootMeanSquaredError)
print("\nr2: %f" % trainSummary.r2)

RMSE: 6065.240929

r2: 0.744965

In [116]:
print("Coefficients: " + str(linear_model.coefficients))
print("\nIntercept: " + str(linear_model.intercept))

Coefficients: [251.44020612518474,337.8438537165417,455.2790205383391,223.39219302834533,24085.124725299695,420.9777323870754]

Intercept: -12961.09617446246

In [120]:
from pyspark.ml.evaluation import RegressionEvaluator
pred_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="charges",metricName="r2")
print("R Squared (R2) on test data = %g" % pred_evaluator.evaluate(predictions))

R Squared (R2) on test data = 0.762549

In [121]:
def adj_r2(x):
    r2 = trainSummary.r2
    n = df.count()
    p = len(df.columns)
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2
adj_r2(train)

0.7436223753377131

In [122]:
adj_r2(test)

0.7436223753377131